@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800;900&display=swap');
@import url('../webfonts/gotham\ bold/stylesheet.css');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    color: white;
    background-color:#EEC318;
}

header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111111;
}

/*-----banner-----*/

#banner {
    position: relative;
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#banner {
    position: relative;
    background-image: url("../images/gallery\ Pumpkin.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#banner h1 {
    position: absolute;
    color: white;
    font-size: 135px;
    line-height: 1;
    letter-spacing: -4px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'gotham_boldregular';
    margin-top: 87px;
}

.circle{
    position: absolute;
}

.circle50 {
    bottom: 197px;
    right: 557px;
}

.circle51 {
    top: 291px;
    right: 159px;
}

.circle52 {
    top: 74px;
    right: 494px; 
}

.circle53 {
    bottom: 105px;
    left: 196px;
}

.circle54 {
    top: 160px;
    left: 59px;
  }

.circle55 {
    bottom: 43px;
    right: 243px;
  }

.circle56 {
    top: 263px;
    left: 574px;
}

/*---content---*/

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#content h1 {
    color: black;
    font-size: 78px;
    font-family: 'Montserrat';
    font-weight: 900;
    margin-top: 216px;
}

#content p {
    color: black;
    font-size: 22px;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 1.6;
    margin-top: 75px;
    margin-right: 360px;
    margin-left: 360px;
}

#image-container {
    display: flex;
    margin-top: 121px;
    padding-bottom: 138px;
    overflow-x: scroll;
    gap: 120px;
    justify-content: flex-start;
    align-items: center;
    scroll-behavior: smooth; 
    scrollbar-width: none;

}

.images-scroll img{
    filter: brightness(0.7);
}

.images-scroll {
    max-width: 600px;
    max-height: 600px;
    position: relative;
}

.images-scroll:last-child {
    margin-right: -489px;
}

.images-scroll .image-content-text{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.images-scroll h2{
    color: white;
    font-size: 67px;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 1.1;

}
.images-scroll img{
    width: 100%;
}

.images-scroll:hover img{
    filter: blur(2px) brightness(0.5);
}

.images-scroll h3{
    color: white;
    font-size: 27px;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-top: 5vh;
}

.content-circle {
    position: absolute;
    z-index: -1;
}

.circle57 {
    top: 610px;
    right: -131px;
  }

.circle58 {
    top: 287px;
    left: -88px;
  }

.circle59{
    bottom: 833px;
    left: 592px;
}

/*---footer---*/
footer {
    background-color: #1C1B1B;
    height: 345px;
}

#footer-logo {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 8px;
}

#footer-nav {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#footer-nav li {
    margin: 0 50px;
}

#footer-nav,
.about {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: 800;
}

#footer-nav,
.gallery {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: 800;
}

#footer-nav,
.exhibition {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: 800;
}

#footer-nav,
.contact {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: 800;
}

/*---hover---*/

#footer-nav,
.about:hover {
    color: #217BBF;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: 800;
    transition: 0.2s ease-in-out;
}

s #footer-nav,
.gallery:hover {
    color: #ED1F24;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: 800;
    transition: 0.2s ease-in-out;
}

#footer-nav,
.exhibition:hover {
    color: #2AB46F;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: 800;
    transition: 0.2s ease-in-out;
}

#footer-nav,
.contact:hover {
    color: #EEC318;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: 800;
    transition: 0.2s ease-in-out;
}

/*---social media icon---*/

.social-media-icon {
    display: flex;
    justify-content: center;
}

.social-icon img {
    margin: 38px 12px;
}

.social-icon:hover img {
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}

/*----Apply after hover image-----*/
.social-icon.insta:hover img {
    content: url("../images/insta\ icon\ 2.svg");
}

.social-icon.fb:hover img {
    content: url("../images/fb\ icon\ 2.svg");
}

.social-icon.mail:hover img {
    content: url("../images/mail\ icon\ 2.svg");
}

.social-icon.twitter:hover img {
    content: url("../images/twitter\ icon2.svg");
}

#footer-copy {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 11px;
    padding-bottom: 12px;
}